.skills-wrapper{   
    margin-top: 1.5rem;
}

.skills-content h2{
    color: #006A67;
    font-size: 1.2rem;
    /* background-color: rgba(255, 217, 0, 0.189); */
    /* border-bottom: 1px solid rgba(158, 135, 4, 0.559); */
    width: fit-content;
    padding: 0.4rem;
    margin-bottom: 1rem;
}
.skills-content-wrapper{
    margin-top: 1.5rem;
}

.skills-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-content{
    width: 70%;
}

.skills-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.skills-content h2{
    margin-bottom: 1rem;
}

.skills-box{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    /* background-color: #d5dbb252; */
    padding: 1rem 2rem;
    border-radius: 50%;
    width:35%;
    height: 20%;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    box-sizing: border-box;
}

.open-link {
    padding: 0.1rem;
    width: fit-content;
    text-decoration: underline;
    margin-left: 5px;
    color: #01928d;
    transition: color 0.6s ease-in-out;
}

.open-link:hover{
    color: #0db341;
}

.bold-skill-text{
    font-weight: 700;
    font-size: 0.8rem;
    /* color: #006A67; */
}

.skills-box h2 {
    border: none;
    font-size: 1rem;
    font-weight: 900;
    color: #219fa1;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(80, 136, 138, 0.621) 0px 0px 0px 1px;
    padding: 0.4rem;
}